.mainmenu {
  position: relative;
  margin: 1% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainmenu > .mainmenu-icon {
  height: 80%;
}
.mainmenu > .mainmenu-name {
  height: 20%;
  text-align: center;
}
