.mainMenu {
  position: relative;
  margin: 1% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainMenu > .mainMenuIcon {
  height: 80%;
}
.mainMenu > .mainMenuName {
  height: 20%;
  text-align: center;
}
