.subMenu {
  position: relative;
  margin: 1% 0;
  left: 3%;
  width: 8vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.subMenu > .subMenuIcon {
  width: 80%
}
.subMenu > .subMenuName {
  width: 20%
}